
dataset/hapt_data_set/RawData/

dataset/hapt_data_set/Test/

dataset/hapt_data_set/Train/

dataset/hapt_data_set/README\.txt

dataset/hapt_data_set/features_info\.txt

dataset/hapt_data_set/features\.txt

dataset/hapt_data_set/

src/hapt_data\.mat
